<!-- NAVBAR TEMPLATE FOR ALL NON-FORM HTML TEMPLATES -->
{% load static %}
{% block navbar %} 
<div class="container-fluid">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <div class="navbar-brand text-dark">
                <img alt="" src="{% static 'images/logo.png' %}" width="30" height="35" class="pb-1">
                Universe
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100" id="navbarToggle">
                <div class="navbar-brand text-dark w-100"></div>

                <ul class="navbar-nav w-100">
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{% url 'home:home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{% url 'display:main' %}">Schedule Practice</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{% url 'display:members' %}">Member List</a>
                    </li>
                </ul>

                <ul class="navbar-nav w-100 justify-content-end">

                    {% if user.is_authenticated %}

                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ user.first_name }}
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    {% if user.is_superuser %}
                                        <a class="dropdown-item text-primary" href="{% url 'super:home' %}">Admin</a>
                                    {% endif %}
                                </li>

                                <li>
                                    <a class="dropdown-item text-primary" href="{% url 'settings:profile' user.id %}">Settings</a>
                                </li>
                            </ul>
                            
                        </li>
                        
                        <li class="nav-item">
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link nav-link text-dark btn-outline-primary px-2">Logout</button>
                            </form>
                        </li>

                    {% else %}
                    <li class="nav-item">
                        <a style="text-decoration: none;" class="btn btn-link text-dark btn-outline-primary px-2" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
{% endblock %}