<!-- NAVBAR TEMPLATE FOR ALL NON-FORM HTML TEMPLATES -->
{% block navbar %} 
<div class="container-fluid">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse w-100" id="navbarToggle">
                <div class="navbar-brand text-dark w-100"></div>
                <ul class="navbar-nav w-100 justify-content-center">
                    <li class="nav-item">
                        <div class="navbar-brand text-dark">Universe</div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{% url 'home:home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{% url 'display:main' %}">Event/Practice Booking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{% url 'display:members' %}">Member List</a>
                    </li>
                </ul>

                <ul class="navbar-nav w-100 justify-content-end">
                    <li class="nav-item">
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link nav-link text-primary">Logout</button>
                    </form>
                {% else %}
                    <a class="nav-link text-primary" href="{% url 'login' %}">Login</a>
                {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
{% endblock %}