<!-- Landing Page Template -->
{% extends "base_bootstrap.html" %}

{% block head %} 
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                themeSystem: 'bootstrap5',
                initialView: 'timeGridWeek',
                scrollTime: '12:00:00',
                headerToolbar: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek'
                },
                buttonText: {
                    dayGridMonth: "Month",
                    timeGridWeek: "Week"
                },
                events: {{ events_json|safe }}
            });

            calendar.render();
        });
    </script>
{% endblock %}


{% block canonical_url %}
    universejamband.pythonanywhere.com
    {% url 'home:home' %}
{% endblock %}


{% block navbar %} 
    {% include "nav.html" %}
{% endblock %}


{% block welcome %} 
    <h1>Welcome to Universe!</h1>
{% endblock %}


{% block content %}


<div class="row">
    <div class="col-lg-8">
        <h3>Schedule for Upcoming Events & Practices</h3>
        <div id="calendar"></div>
    </div>

    <div class="col-lg">
        <h3 class="mt-5 pt-5">Upcoming Events</h3>
        {% if event_list %}
            <ul>
                {% for event in event_list %}
                    <li>
                        <b>{{ event }}</b> at {{ event.date }} {{ event.time }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no events upcoming for Universe! Stay Tuned!</p>
        {% endif %}
    </div>
</div>

{% endblock %}


{% block footer %} 
<div class="container mt-3">
    <h2>If you are interested in joining Universe aka Hall 1 Jamband, contact us!</h2>
</div>
{% endblock %}