<!-- Landing Page Template -->
{% extends "base_bootstrap.html" %}

{% block canonical_url %}
    {% url 'home:home' %}
{% endblock %}

{% block navbar %} 
    {% include "nav.html" %}
{% endblock %}

{% block welcome %} 
    <h1>Hello! Welcome to the temporary welcome page for Hall 1 JamBand!</h1>
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-6">
        <h3>Upcoming Events</h3>
        {% if event_list %}
            <ul>
                {% for event in event_list %}
                    <li>
                        <b>{{ event }}</b> at {{ event.date }} {{ event.time }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no event in the library.</p>
        {% endif %}
    </div>

    <div class="col-md-6">
        <h3>Practices Scheduled</h3>
        {% if practice_list %}
        <ul>
            {% for practice in practice_list %}
            <li>
                <b>[{{ practice.date }}]</b> <i>{{ practice.band }}</i> is practicing from <b>{{ practice.startTime }} to {{ practice.endTime }}</b>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>There are no practices scheduled.</p>
        {% endif %}
    </div>
</div>

<div class="row">
    <h2>If you are interested in joining Universe aka Hall 1 Jamband, contact us!</h2>
</div>

{% endblock %}

{% block footer %} {% endblock %}