{% extends "base_bootstrap.html" %}

{% block head %}
{% endblock %}

{% block canonical_url %}{% url 'settings:profile' user.id %}{% endblock %}


{% block navbar %} 
    {% include "nav.html" %}
{% endblock %}


{% block welcome %} 
<h1>{{ full_name }}</h1>
{% if matric %}
    <h5>Matric Number: {{ matric }}</h5>
{% endif %}
{% endblock %}


{% block content %}

<form action="" method="post">

    {% load crispy_forms_tags %}
    {% csrf_token %}
    {{ form|crispy }}

    <input type="submit" value="Update" class="btn btn-primary">
</form>

<div class="container mt-3">
    {% if user.is_superuser %}

    {% else %}
        <h6>Sections:</h6>
        {% if sections %}
            <ul>
                {% for membersection in sections %}
                    <li>{{ membersection.section }} {% if membersection.proficiency == 1 %}(L){% endif %}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You are using the default member account!</p>
        {% endif %}

        <h6>Band:</h6>
        {% if bands %}
            <ul>
                {% for band in bands %}
                    <li>{{ band }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You are not in any bands currently!</p>
        {% endif %}
    {% endif %}
</div>

{% endblock %}


{% block footer %} 
{% endblock %}