{% extends "base_bootstrap.html" %}

{% block canonical_url %}{% endblock %}

{% block navbar %} 
    {% include "nav.html" %}
{% endblock %}

{% block welcome %} 
    <h1>Welcome to the display page for H1 Jam Band</h1>
{% endblock %}

{% block content %}

    <a href="{% url 'home:home' %}">Back home</a>

    <h3>Events</h3>
    <a href="{% url 'display:event_create' %}">Add an event</a>
    {% if event_list %}
        <ul>
            {% for event in event_list %}
                <li>
                    <b>{{ event }}</b> at {{ event.date }} {{ event.time }}
                    (<a href="{% url 'display:event_update' event.id %}">Update</a> |
                    <a href="{% url 'display:event_delete' event.id %}">Delete</a>) <br/>
                    Bands: [<a href="{% url 'display:band_create' event.id %}">Form Band</a>]
                    <ul>
                    {% for band in band_list %}
                        {% if band.event.id == event.id %}
                            <li>
                                <a>{{ band.name }}</a>
                                <br/>Members:
                                <ul>
                                    {% for bandmember in bandmember_list %}
                                        {% if bandmember.band.id == band.id %}
                                            <li>
                                                {{ bandmember.member }} [{{ bandmember.section }}]
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no event in the library.</p>
    {% endif %}

    <h3>Practices</h3>
    <a href="{% url 'display:practice_create' %}">Schedule a practice</a>
    {% if practice_list %}
    <ul>
        {% for practice in practice_list %}
        <li>
            <b>{{ practice }}</b>
            (<a href="{% url 'display:practice_update' practice.id %}">Update</a> |
            <a href="{% url 'display:practice_delete' practice.id %}">Delete</a>)
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no practices scheduled.</p>
    {% endif %}

{% endblock %}

{% block footer %} {% endblock %}