<!-- Main Template for Display App -->
{% extends "base_bootstrap.html" %}

{% block head %} 
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                eventClick: function(info) {
                    var eventObj = info.event;
                    window.open(eventObj.url,_self);
                },
                themeSystem: 'bootstrap5',
                initialView: 'timeGridWeek',
                scrollTime: '12:00:00',
                headerToolbar: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek'
                },
                buttonText: {
                    dayGridMonth: "Month",
                    timeGridWeek: "Week"
                },
                events: {{ practices_json|safe }}
            });
            
            calendar.render();
        });
    </script>
{% endblock %}

{% block canonical_url %}
    universejamband.pythonanywhere.com
    {% url 'display:main' %}
{% endblock %}

{% block navbar %} 
    {% include "nav.html" %}
{% endblock %}

{% block welcome %} 
    <h1>Schedule, Edit or Delete a Practice Session</h1>
{% endblock %}

{% block content %} 

<div class="row">
    <div class="col-lg-8">
        <h3>Schedule for Practices</h3>
        <div id="calendar"></div>
    </div>
    <div class="col-lg">
        <h3 class="mt-5 pt-5">Practices</h3>
        <a href="{% url 'display:practice_create' %}" class="btn btn-primary" role="button">Schedule a practice</a>
        {% if practice_list %}
        <ul>
            {% for practice in practice_list %}
            <li class="py-2">
                <b>[{{ practice.date }}]</b><br/>
                <b>[{{ practice.startTime }} to {{ practice.endTime }}]</b><br/>
                <b>{{ practice.band }}</b> is practicing<br/>
                <a href="{% url 'display:practice_update' practice.id %}" class="btn btn-primary" role="button">Edit</a>
                <a href="{% url 'display:practice_delete' practice.id %}" class="btn btn-primary" role="button">Delete</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>There are no practices scheduled.</p>
        {% endif %}
    </div>
</div>

{% comment %} <div class="row">
    <h3>Events [<a href="{% url 'display:event_create' %}">+</a>]</h3>
    {% if event_list %}
        <ul class="row">
            {% for event in event_list %}
                <li class="col-md-6">
                    <a href="{% url 'display:event_update' event.id %}">{{event}}</a> [{{ event.date }} {{ event.time }}]
                    [<a href="{% url 'display:event_delete' event.id %}">Delete</a>] <br/>
                    <h5>Bands: [<a href="{% url 'display:band_create' event.id %}">+</a>]</h5>
                    <ul>
                    {% for band in band_list %}
                        {% if band.event.id == event.id %}
                            <li>
                                <a href="{% url 'display:band_update' band.id %}">{{ band.name }}</a> 
                                [<a href="{% url 'display:band_delete' band.id %}">Delete</a>]<br/>
                                <h6>Members: [<a href="{% url 'display:bandmember_create' band.id %}">+</a>]</h6>
                                <ul>
                                    {% for bandmember in bandmember_list %}
                                        {% if bandmember.band.id == band.id %}
                                            <li>
                                                {{ bandmember.member_section }}
                                                [<a href="{% url 'display:bandmember_update' bandmember.id %}">Update</a> |
                                                <a href="{% url 'display:bandmember_delete' bandmember.id %}">Delete</a>]
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul><br/>
                            </li>
                        {% endif %}
                    {% endfor %}
                    </ul><br/>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no event in the library.</p>
    {% endif %}
</div> {% endcomment %}

{% endblock %}

{% block footer %} {% endblock %}