<!-- Main Template for Display App -->
{% extends "base_bootstrap.html" %}

{% block head %} 
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                eventClick: function(info) {
                    var eventObj = info.event;
                    window.open(eventObj.url,_self);
                },
                contentHeight:"auto",
                themeSystem: 'bootstrap5',
                initialView: 'timeGridWeek',
                scrollTime: '12:00:00',
                slotMinTime: '08:00:00',
                headerToolbar: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek'
                },
                buttonText: {
                    dayGridMonth: "Month",
                    timeGridWeek: "Week"
                },
                footerToolbar: {
                    left:'',
                    center:'scrollTop',
                    right:''
                },
                customButtons: {
                    scrollTop: {
                        text: 'Back to top',
                        click: function() {
                            window.scrollTo(0, 0);
                        }
                    }
                },
                events: {{ practices_json|safe }}
            });
            
            calendar.render();
        });
    </script>
{% endblock %}

{% block canonical_url %}{% url 'display:main' %}{% endblock %}

{% block navbar %} 
    {% include "nav.html" %}
{% endblock %}

{% block welcome %} 
    <h1>Practice Scheduler App</h1>
{% endblock %}

{% block content %} 

<div class="row">
    <a href="{% url 'display:practice_create' %}" class="btn btn-primary" role="button">Schedule new practice</a>
    {% if practice_list %}
    <table class="table table-hover table-bordered border-primary table-sm caption-top">
        <caption>
            <a href="#calendar" class="btn btn-primary" role="button" onclick="">Scroll to Schedule</a>
        </caption>

        <thead>
            <tr class="table-dark">
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Band</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for practice in practice_list %}
            <tr class="">
                <td>{{ practice.date }}</td>
                <td>{{ practice.startTime|date:'f a' }}-{{ practice.endTime|date:'f a' }}</td>
                <td>{{ practice.band }}</td>
                <td>
                    <a href="{% url 'display:practice_update' practice.id %}" class="btn btn-success" role="button">Update</a>
                    <a href="{% url 'display:practice_delete' practice.id %}" class="btn btn-danger" role="button">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>There are no practices scheduled.</p>
    {% endif %}
</div>

<div class="row mb-3">
    <div class="col-lg">
        <h3>Schedule for Practices</h3>
        <div id="calendar"></div>
    </div>
</div>

{% endblock %}

{% block footer %} {% endblock %}