<html> <!-- Login Page Template Used for verification for views with LoginRequiredMixin -->
    <head>
        {% extends "base_bootstrap.html" %}
    </head>
    <body>

    {% block content %}
    <h1>Please login to view the page</h1>

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    {% endblock %}
    </body>
</html>